<!DOCTYPE html>
<html>
<head>
    <title>Login</title>

    <link
        rel="stylesheet"
        href="/css/style.css">
</head>
<body>

<h1>Login</h1>

<form>

    <input
        type="email"
        placeholder="Email">

    <input
        type="password"
        placeholder="Senha">

    <button>
        Entrar
    </button>

</form>

<a href="/register">
    Criar conta
</a>

</body>
</html>