<!DOCTYPE html>
<html>
<head>
    <title>Cadastro</title>
    <link
        rel="stylesheet"
        href="/css/style.css">
</head>
<body>

<h1>Cadastro</h1>

<form>

    <input
        type="text"
        placeholder="Nome">

    <input
        type="email"
        placeholder="Email">

    <input
        type="password"
        placeholder="Senha">

    <button>
        Cadastrar
    </button>

</form>

</body>
</html>